
  .table_wrapper {
     width: auto;
     overflow-x:scroll;
     white-space: nowrap;
  }


  .section {
      padding-left: 100px;  
   
  }




 .checkbox {

  border: none

}


td, th {
    padding: 5px 5px;


}

input[inputbox-table]{

height: auto;
}